<h1 style ="position: relative; padding-left: 435px;">Allocation To Live</h1>

<h2>Import Allocation - Sheet </h2>

<p>
 <strong> Download || Output: </strong>
  <%= link_to "CSV", products_path(format: "csv") %> |
  <%= link_to "Excel", products_path(format: "xls") %>
</p>

<h4> 
	NOTE: For better Result Download With ".xlsx"

</h4>